.hero-left h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #091e42;
  top: 246px;
  width: 466px;
  height: 174px;
  z-index: 2;
}

.hero-left p {
  position: absolute;
  color: #344563;
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  top: 456px;
  width: 345px;
  height: 48px;
  z-index: 2;
}

.hero-right img {
  position: absolute;
  right: 20px;
  width: 800px;
}