@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap");
#root,
html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #222;
  font-family: "Circular", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

p,
li {
  line-height: 1.5;
  font-weight: 500;
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  font-weight: 400;
  text-decoration: none;
}

button {
  border: none;
  background-color: #0052cc;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-right: 80px;
  height: 40px;
  width: 200px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #5e6c84;
}