@import "./variables";
@import "./mixins";

#root,
html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $bg-primary;
  color: $black;
  font-family: $font-stack;
  font-size: 1rem;
}

// @font-face {
//   font-family: "Circular std";
//   src: url("#{$fonts-path}/MyFont-Regular.eot");
// font-weight: weight(bold);
// font-weight: map-get($font-weights, bold);
// }

h1 {
  font-size: 2.8rem;
  font-weight: map-get($font-weights, "heavy");
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: map-get($font-weights, "bold");
  line-height: 1.2;
}

p,
li {
  font-weight: map-get($font-weights, "medium");
  line-height: 1.5;
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  font-weight: 400;
  text-decoration: none;
}

button {
  @include buttonStyle;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $gray;
  }
}

.frame img {
  padding: 30px 0;
  width: 100%;
}

@media screen and (max-width: 468px) {
  .hero,
  .human-resource > .boxes,
  .admin-logistics > .box-layout,
  .finance > .box-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero,
  .human-resource,
  .admin-logistics,
  .finance,
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .featured-brands > .logo,
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}
