$bg-primary: #fff;
$bg-secondary: #f4f5f7;
$white: #fff;
$black: #222;
$blue: #0052cc;
$gray: #5e6c84;
$dark-blue: #091e42;
$font-stack: "Circular", sans-serif;
$font-weights: (
  "thin": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "heavy": 800,
);

$circle-1: #5243aa;
$circle-2: #008da6;
$circle-3: #42526e;
$circle-4: #ff8b00;
$circle-5: #008da6;
$circle-6: #0052cc;
$circle-7: #008da6;
