.admin-logistics {
  display: flex;
  flex-direction: column;
  padding: 15px 100px;
}
.admin-logistics h2 {
  margin-bottom: 10px;
}
.admin-logistics .box-layout {
  align-items: center;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}
.admin-logistics .box-layout .box {
  padding: 20px;
}
.admin-logistics .box-layout .box .icon {
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  width: 40px;
}
.admin-logistics .box-layout .box .icon#icon4 {
  background-color: #ff8b00;
}
.admin-logistics .box-layout .box .icon#icon5 {
  background-color: #008da6;
}
