.featured-brands {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.featured-brands .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.featured-brands .logo img {
  padding-right: 50px;
  width: 150px;
}

@media screen and (max-width: 468px) {
  .featured-brands .logo img {
    padding: 0;
    padding-bottom: 10px;
  }
}
