.footer {
  background-color: #091e42;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 30px 100px;
}
.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 468px) {
  .footer {
    text-align: center;
    font-size: 0.8rem;
  }
  .footer-right ul {
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }
  .footer-right ul li {
    padding-left: 5px;
  }
}
