.hero {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 220px 100px;
}
.hero .hero-left p {
  font-size: 1.2rem;
  margin: 0;
}
.hero .hero-right img {
  padding-left: 10px;
  width: 50vw;
}

@media screen and (max-width: 468px) {
  .hero .hero-left h1 {
    font-size: 1.95rem;
  }
  .hero .hero-left p {
    font-size: 1rem;
  }
  .hero .hero-right img {
    padding-left: 0;
    width: 100%;
  }
}
