.human-resource {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  padding: 15px 100px;
}

.human-resource .heading {
  padding: 15px 0;
}
.human-resource .heading h2 {
  margin-bottom: 10px;
}
.human-resource .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding-bottom: 80px;
}
.human-resource .boxes .box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.human-resource .boxes .box .icon {
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  width: 40px;
}
.human-resource .boxes .box .icon#icon1 {
  background-color: #5243aa;
}
.human-resource .boxes .box .icon#icon2 {
  background-color: #008da6;
}
.human-resource .boxes .box .icon#icon3 {
  background-color: #42526e;
}
